*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0, 0.5)50%,rgba(0,0,0,0.5)50%), url(TPPX.gif);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1203px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.form{
    width: 250px;
    height: 389px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -2px;
    left: 850px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 27px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 15px;
    margin: 9px;
    padding: 10px;
}

.form input{
    width: 250px;
    height: 30px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 25px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-top: 28px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.slideshow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}
.slideshow--hero {
    z-index: 3;
    left: 0;
    top: 50%;
    height: 85%;
    transform: translateY(-50%) skewY(-10deg);
    transform-origin: center;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
.slideshow--hero .slides {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100vw;
    height: 100vh;
    animation: 11s slideshow-hero-mobile -3s infinite;
}
.slideshow--hero .slide1 {
    background-image: url(https://source.unsplash.com/1000x750);
    animation: 20s slides-set-1 -0.1s infinite;
}
.slideshow--hero .slide2 {
    background-image: url(https://source.unsplash.com/1001x751);
    animation: 20s slides-set-2 -0.1s infinite;
}
.slideshow--hero .slide3 {
    background-image: url(https://source.unsplash.com/1002x752);
    animation: 20s slides-set-3 -0.1s infinite;
}
@media (min-width: 600px) {
    .slideshow--hero {
        left: 50%;
        top: 0;
        width: 67%;
        height: 100%;
        transform: translateX(-50%) skewX(-10deg);
   }
    .slideshow--hero .slides {
        top: 0;
        left: -25%;
        height: 100%;
        animation: 11s slideshow-hero -3s infinite;
   }
}
.slideshow--contrast {
    z-index: 1;
    width: 100%;
    height: 50%;
    transform: none;
}
.slideshow--contrast--before {
    left: 0;
}
.slideshow--contrast--before .slides {
    width: 100vw;
}
.slideshow--contrast--after {
    z-index: 2;
    left: auto;
    right: 0;
}
.slideshow--contrast--after .slides {
    width: 100vw;
    left: auto;
    right: 0;
}
.slideshow--contrast .slides {
    animation: 14s slideshow-contrast -5s infinite;
}
.slideshow--contrast .slide1 {
    background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://source.unsplash.com/1000x750);
    animation: 20s slides-set-1 -0.2s infinite;
}
.slideshow--contrast .slide2 {
    background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://source.unsplash.com/1001x751);
    animation: 20s slides-set-2 -0.2s infinite;
}
.slideshow--contrast .slide3 {
    background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://source.unsplash.com/1002x752);
    animation: 20s slides-set-3 -0.2s infinite;
}
.slideshow--contrast--after {
    top: auto;
    bottom: 0;
}
.slideshow--contrast--after .slides {
    animation: 13s slideshow-contrast -13s infinite;
}
.slideshow--contrast--after .slide {
    background-position: right;
}
.slideshow--contrast--after .slide1 {
    animation: 20s slides-set-1 infinite;
}
.slideshow--contrast--after .slide2 {
    animation: 20s slides-set-2 infinite;
}
.slideshow--contrast--after .slide3 {
    animation: 20s slides-set-3 infinite;
}
@media (min-width: 600px) {
    .slideshow--contrast {
        width: 50%;
        height: 100%;
   }
    .slideshow--contrast--after {
        top: 0;
        bottom: auto;
   }
    .slideshow--contrast--after .slides {
        width: 50vw;
   }
}
.slides, .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes slideshow-hero-mobile {
    0% {
        transform: scale(1) skewY(10deg);
   }
    50% {
        transform: scale(1.05) skewY(10deg);
   }
    100% {
        transform: scale(1) skewY(10deg);
   }
}
@keyframes slideshow-hero {
    0% {
        transform: scale(1) skewX(10deg);
   }
    50% {
        transform: scale(1.05) skewX(10deg);
   }
    100% {
        transform: scale(1) skewX(10deg);
   }
}
@keyframes slideshow-contrast {
    0% {
        transform: scale(1.05);
   }
    50% {
        transform: scale(1);
   }
    100% {
        transform: scale(1.05);
   }
}
@keyframes slides-set-1 {
    0% {
        opacity: 1;
        transform: scale(1);
   }
    31% {
        opacity: 1;
        transform: scale(1);
   }
    34% {
        opacity: 0;
        transform: scale(1.05);
   }
    97% {
        opacity: 0;
        transform: scale(1.05);
   }
    100% {
        opacity: 1;
        transform: scale(1);
   }
}
@keyframes slides-set-2 {
    0% {
        opacity: 0;
        transform: scale(1.05);
   }
    31% {
        opacity: 0;
        transform: scale(1.05);
   }
    34% {
        opacity: 1;
        transform: scale(1);
   }
    64% {
        opacity: 1;
        transform: scale(1);
   }
    67% {
        opacity: 0;
        transform: scale(1.05);
   }
    100% {
        opacity: 0;
        transform: scale(1.05);
   }
}
@keyframes slides-set-3 {
    0% {
        opacity: 0;
        transform: scale(1.05);
   }
    64% {
        opacity: 0;
        transform: scale(1.05);
   }
    67% {
        opacity: 1;
        transform: scale(1);
   }
    97% {
        opacity: 1;
        transform: scale(1);
   }
    100% {
        opacity: 0;
        transform: scale(1.05);
   }
}



/*teams css codes*/
.title{
  text-align: center;
  text-transform: capitalize;
  color: #726a95;
  margin: 10px 0;
  position: relative;
}

.title::after{
  content: "";
  position: absolute;
  width: 20%; height: 2px;
  background-image: linear-gradient(to left, transparent 5%, #726a95);
  bottom: -10px; left: 50%;
  transform: translate(-50%);
}

.team-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.member{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.3s;
}

.member:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transform: translateY(-20px);
}

.member img{
  display: block;
  width: 150px; height: 150px;
  object-fit: cover;
  border:4px solid #726a95;
  border-radius: 50%;
  margin: 0 auto;
}

.member h2{
  text-transform: uppercase;
  font-size: 24px;
  color: #726a95;
  margin: 15px 0;
}

.member p{
  font-size: 15px;
  color: #838383;
  line-height: 1.6;
}


.container {
    background: #F8F8F8;
    width: 900px;
    height: 650px;
    margin: 5% auto;
    box-shadow: 0px 0px 10px #C8C7D9;
    position: relative; }
    .container .map {
      width: 45%;
      float: left; }
    .container .contact-form {
      width: 53%;
      margin-left: 2%;
      float: left; }
      .container .contact-form .title {
        font-size: 2.5em;
        font-family: "Libre Franklin", sans-serif;
        font-weight: 700;
        color: #242424;
        margin: 5% 8%; }
      .container .contact-form .subtitle {
        font-size: 1.2em;
        font-weight: 400;
        margin: 0 4% 5% 8%; }
      .container .contact-form input,
      .container .contact-form textarea {
        width: 330px;
        padding: 3%;
        margin: 2% 8%;
        color: #242424;
        border: 1px solid #B7B7B7; }
        .container .contact-form input::placeholder,
        .container .contact-form textarea::placeholder {
          color: #242424; }
      .container .contact-form .btn-send {
        background: #A383C9;
        width: 180px;
        height: 60px;
        color: #F8F8F8;
        font-weight: 700;
        margin: 2% 8%;
        border: none; }